In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df1=DataFrame({'城市':['bj','sh','tj'],"人口":[1000,2000,1500]})

In [3]:
df1

   城市    人口
0  bj  1000
1  sh  2000
2  tj  1500

In [4]:
df1["GDP"]=Series([1000,2000,1500])

In [5]:
df1

   城市    人口   GDP
0  bj  1000  1000
1  sh  2000  2000
2  tj  1500  1500

In [6]:
s1=Series(np.arange(5))

In [7]:
s1.replace([1,2],[10,20])

0     0
1    10
2    20
3     3
4     4
dtype: int64