In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
s1=Series([1,2,3],index=['a','b','c'])
s1

a    1
b    2
c    3
dtype: int64

In [3]:
s2=Series([4,5,6,7],index=['b','c','d','e'])
s2

b    4
c    5
d    6
e    7
dtype: int64

In [4]:
s1+s2

a    NaN
b    6.0
c    8.0
d    NaN
e    NaN
dtype: float64

In [5]:
df1=DataFrame(np.arange(4).reshape(2,2),index=['a','b'],columns=['bj','sh'])
df1

   bj  sh
a   0   1
b   2   3

In [6]:
df2=DataFrame(np.arange(9).reshape(3,3),index=['a','b','c'],columns=['bj','sh','gz'])
df2

   bj  sh  gz
a   0   1   2
b   3   4   5
c   6   7   8

In [7]:
df1+df2

    bj  gz   sh
a  0.0 NaN  2.0
b  5.0 NaN  7.0
c  NaN NaN  NaN

In [8]:
df2.describe()

        bj   sh   gz
count  3.0  3.0  3.0
mean   3.0  4.0  5.0
std    3.0  3.0  3.0
min    0.0  1.0  2.0
25%    1.5  2.5  3.5
50%    3.0  4.0  5.0
75%    4.5  5.5  6.5
max    6.0  7.0  8.0