In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
s1=Series(np.random.randn(10))

In [3]:
s1

0   -0.089994
1   -0.798116
2   -0.968052
3    2.225078
4    0.546295
5   -0.114663
6    0.054393
7    0.041566
8   -1.941524
9    0.621641
dtype: float64

In [5]:
s2=s1.sort_values(ascending=False,)

In [6]:
s2

3    2.225078
9    0.621641
4    0.546295
6    0.054393
7    0.041566
0   -0.089994
5   -0.114663
1   -0.798116
2   -0.968052
8   -1.941524
dtype: float64

In [7]:
df1=DataFrame(np.random.randn(40).reshape(8,5),columns=['a','b','c','d','e'])

In [8]:
df1

          a         b         c         d         e
0 -0.097576 -1.120875 -0.312094  0.514427 -1.541425
1 -0.045853  0.655761  0.140831  0.261590 -0.473524
2 -1.767341 -0.649096 -0.835579 -0.602586 -0.454673
3  0.068924 -0.135297  0.199103 -1.705339  0.463792
4  0.582642  0.305750  1.140266 -0.523656  1.404392
5  0.084259  0.685722  0.421354  0.085446 -1.680381
6 -0.485864  1.033595  0.601249 -1.960340  0.523174
7 -1.628304 -1.250041  0.678563 -0.542611 -0.786600

In [9]:
df1.sort_values("a")

          a         b         c         d         e
2 -1.767341 -0.649096 -0.835579 -0.602586 -0.454673
7 -1.628304 -1.250041  0.678563 -0.542611 -0.786600
6 -0.485864  1.033595  0.601249 -1.960340  0.523174
0 -0.097576 -1.120875 -0.312094  0.514427 -1.541425
1 -0.045853  0.655761  0.140831  0.261590 -0.473524
3  0.068924 -0.135297  0.199103 -1.705339  0.463792
5  0.084259  0.685722  0.421354  0.085446 -1.680381
4  0.582642  0.305750  1.140266 -0.523656  1.404392